/* h1{
    color: blue;
}

h3{
    color: red;
}

p{
    color: green;
} */

h2{
color: green;
 font-size: 20
}

.h2 p{
color: green;
font-size: 20
}

h4{
color: red;
font-size: 30
}

p{
color: red;
font-size: 30
}

h5{
color: blue;
font-size: 40
}

p{
color: blue;
font-size: 40
}